.offers-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
    margin-bottom: 64px;
}

.offers-cards .card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  background-color: black;
  
}

.offers-cards .card1 {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card2 {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card3 {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card4 {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers-cards .card header span {
  font-size: 32px;
  font-weight: var(--title-weight);
  margin-top: 24px;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header span {
    font-size: 40px;
  }
}


@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
    height: 308px;
  }
}


@media screen and (min-width: 1920px) {
  .offers-cards .card {
    width: 1250px;
    margin: 0 auto;
  }
}
